h1{
  font-family: avenir;
  text-align: center;
  animation-duration: 1s;
  animation-name: slidein;
}

h2{
  font-family: avenir;
  text-align: center;
  font-size:20px;
  padding-bottom: 44px;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

header{
  font-family: americantypewriter;
  font-size: 18px;
  font-weight:bold;
  color: black;
  padding-top: 36px;
  padding-bottom: 180px;
  background-color: #FFFFFF;
}

body{
  background-color: #FFFFFF;
}

footer{
  background-color: #332F30;
}

footerstyle{

}

.nav-item-meu{
  padding-left: 40px;
  padding-right: 40px;

}
.show .nav-item-meu {
  text-align: center;
}

.nav-link disabled {
  color: black;
}

.navbar-nav {
  background-color: #FFFFFF;

}
.navbar-brand{
  padding-left: 40px;
}

.container-fluid{
  background-color: #FFFFFF;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.quote{
  font-family: avenir;
  font-size: 18px;
  color: #F9F6EF;
  opacity: 0.5;
  text-align: center;
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;        /* center items horizontally, in this case */
  height: 640px;
  padding-left: 30px;
  padding-right: 30px;
}

section{
  text-align: justify;
  font-size: 24px;
  font-family: avenir;
  margin: 256px;
}

section p{
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.intro{
  font-family: avenir;
  font-size: 20px;
}

.espaciostart{
  padding: 0px 0px 0px 0px;
  background-color: #806D6B;
  color: white;
  margin: 0px 0px 0px 0px;
  height: 640px;
  text-align: center;
}
.espacioend{
  padding: 0px 0px 0px 0px;
  background-color: #333333;
  color: white;
  margin: 0px 0px 0px 0px;
}

.espaciocenter{
  padding: 0px 0px 0px 0px;
  background-color: #333333;
  color: white;
  margin: 0px 0px 0px 0px;
}

img{
  padding-left: opx;
  padding-right: opx;
  -webkit-transition: all .5s;
    transition: all .5s;
}

.img-fluid{
  opacity: 0.6;
}

#navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 40px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
}

#logo{}


.footerstyle{
  height: 100px;
  text-align: center;
  padding-top: 30px;
  color: #FFFFFF;
  font-family: americantypewriter;
  font-size: 12px;
}
